body {
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 20px;
}

.principal {
    width: 95%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #ee6928;
}

.formulario label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.botoes_cadastro {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

input[type="submit"], .botao_voltar_cadastro {
    flex: 1;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}
input[type="submit"] {
    background-color: #ee6928;
    color: white;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.botao_voltar_cadastro {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s;
    box-sizing: border-box;
    margin-top: 10px;
}
.botao_voltar_cadastro:hover {
    background-color: #d32f2f;
}

.erro {
    color: #b30000;
    background-color: #ffe6e6;
    border: 1px solid #b30000;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.espaco {
    height: 10px;
    display: block;
}
.menu_inicial {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}
.menu_inicial-item {
    display: block;
    padding: 10px;
    background-color: #ee6928;
    margin: 5px 0;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.menu_inicial-item:hover {
    background-color: #969191;
}
.menu_consulta {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.menu_consulta-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee6928; /* Cor do botão NOVO CADASTRO */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu_consulta-item[href*="inicial"] {
    background-color: #eb372a;
}

.menu_consulta-item:hover {
    background-color: #45a049;
}

.menu_consulta-item[href*="inicial"]:hover {
    background-color: #d32f2f;
}
.botao_pesquisar {
    background-color: #ee6928;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.botao_pesquisar:hover {
    background-color: #45a049;
}


.linha_form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    align-items: flex-start;
    margin-top: 10px;
}

.linha_form label {
    flex: 0 0 auto;
    margin-right: 10px;
}

.linha_form input, select {
    flex: 0 0 30%;
    min-width: 50px;
    margin-right: 20px;
}
.tabela-container {
    overflow-x: auto; /* Rolagem horizontal */
    margin-top: 20px; /* Espaço acima da tabela */
}

table {
    width: 90%;
    /*border-collapse: collapse;*/ /* Remove espaços entre as células */
    font-size: 12px;
    margin: 0 auto;


}

td, th {
    text-align: center;
    max-width: 120px;
}

input[name="numero"] {
    width: 40px !important; 
    max-width: 50px !important;
    min-width: 40px !important;
}

.titulo {
    background-color: #ffffff; /* Cor de fundo para o cabeçalho */
    font-weight: bold; /* Negrito para os títulos */
}
.formulario_pesquisa {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    margin: 20px auto;
    max-width: 30%; /* Garante que o formulário não exceda a largura da tela */
}

.barra_pesquisa {
    padding: 8px;
    font-size: 16px;
    width: 300px; /* Largura do campo de pesquisa */
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 4px; /* Borda arredondada */
    margin-right: 10px;
}