body {
    background-color: #eaeaea;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 20px;
}

.principal {
    width: 95%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #ee6928;
}

.formulario label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.botoes_cadastro {
    display: flex; /* Habilita o flexbox */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaço acima dos botões */
}

input[type="submit"], .botao_voltar_cadastro {
    flex: 1; /* Faz os botões ocuparem a mesma largura */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

/* Botão de Salvar (já está em seu formulário como submit) */
input[type="submit"] {
    background-color: #ee6928;
    color: white;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Botão de Voltar */
.botao_voltar_cadastro {
    background-color: #f44336; /* Vermelho */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 100%; /* Define a largura para ocupar 100% */
    text-align: center;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
    margin-top: 10px;
}
.botao_voltar_cadastro:hover {
    background-color: #d32f2f;
}

.erro {
    color: #b30000;
    background-color: #ffe6e6;
    border: 1px solid #b30000;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.espaco {
    height: 10px;
    display: block;
}
.menu_inicial {
    width: 300px; /* Defina a largura desejada para o menu */
    margin: 20px auto; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza os itens dentro do menu */
}
.menu_inicial-item {
    display: block;
    padding: 10px;
    background-color: #ee6928;
    margin: 5px 0;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.menu_inicial-item:hover {
    background-color: #969191;
}
.menu_consulta {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 10px; /* Espaço entre os botões */
    margin-top: 20px; /* Espaço acima dos botões */
}

.menu_consulta-item {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee6928; /* Cor do botão NOVO CADASTRO */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu_consulta-item[href*="inicial"] {
    background-color: #eb372a; /* Cor vermelha para o botão VOLTAR */
}

.menu_consulta-item:hover {
    background-color: #45a049; /* Cor ao passar o mouse sobre NOVO CADASTRO */
}

.menu_consulta-item[href*="inicial"]:hover {
    background-color: #d32f2f; /* Cor ao passar o mouse sobre VOLTAR */
}
.botao_pesquisar {
    background-color: #ee6928;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

.botao_pesquisar:hover {
    background-color: #45a049;
}


.linha_form {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem automaticamente */
    gap: 10px;
    margin-bottom: 10px;
    align-items: flex-start; /* Alinha os itens no topo */
    margin-top: 10px; /* Espaço entre as linhas */
}

.linha_form label {
    flex: 0 0 auto; /* Largura fixa para os labels */
    margin-right: 10px; /* Menor espaço entre o label e o input */
}

.linha_form input, select {
    flex: 0 0 30%; /* Permite que os inputs ocupem o restante do espaço disponível */
    min-width: 50px; /* Define uma largura mínima para os inputs */
    margin-right: 20px; /* Espaço entre os inputs */
}
.tabela-container {
    overflow-x: auto; /* Permite rolagem horizontal */
    margin-top: 20px; /* Espaço acima da tabela */
}

table {
    width: 90%; /* A tabela ocupa toda a largura do contêiner */
    /*border-collapse: collapse;*/ /* Remove espaços entre as células */
    font-size: 12px;
    margin: 0 auto;


}

td, th {
    text-align: center; /* Alinha o texto à esquerda */
    max-width: 120px; /* Define uma largura máxima para as colunas */
    /*
    overflow: hidden;
    text-overflow: ellipsis;
    
    white-space: nowrap; */
}

input[name="numero"] {
    width: 40px !important; 
    max-width: 50px !important;
    min-width: 40px !important;
}

.titulo {
    /*background-color: #ffffff; *//* Cor de fundo para o cabeçalho */
    font-weight: bold; /* Negrito para os títulos */
}
.formulario_pesquisa {
    display: flex; /* Habilita o flexbox */
    justify-content: center; /* Centraliza os itens horizontalmente */
    margin: 20px auto; /* Adiciona margem em cima e embaixo */
    max-width: 30%; /* Garante que o formulário não exceda a largura da tela */
}

.barra_pesquisa {
    padding: 8px;
    font-size: 16px;
    width: 300px; /* Largura do campo de pesquisa */
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 4px; /* Borda arredondada */
    margin-right: 10px;
}